body {
    font-family: Arial, sans-serif;
    background-color: #c6e3e8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

.cv-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #00796b;
    padding-bottom: 10px;
}

.header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    color: #00796b;
}

.header h2 {
    margin: 5px 0 0;
    font-size: 18px;
    color: #004d40;
}

.section {
    margin-top: 20px;
}

.section h3 {
    color: #2e8075;
    border-bottom: 2px solid #012823;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p, .section ul {
    margin: 0 0 5px;
    padding: 0;
}

.section ul {
    list-style-type: none;
}

.section ul li {
    padding-left: 15px;
    position: relative;
}
